[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-slugify = "==8.0.1"
pillow = "==10.1.0"
argon2-cffi = "==23.1.0"
whitenoise = "==6.6.0"
django = "==5.0"
django-environ = "==0.11.2"
django-model-utils = "==4.3.1"
django-allauth = "==0.58.2"
django-crispy-forms = "==2.1"
crispy-bootstrap5 = "==2023.10"
werkzeug = {version = "==3.0.1", extras = ["watchdog"]}
ipdb = "==0.13.13"
psycopg = {version = "==3.1.12", extras = ["binary"]}
django-stubs = {version = "*", extras = ["compatible-mypy"]}
pytest = "==7.4.3"
pytest-sugar = "==0.9.7"
sphinx = "==7.2.6"
sphinx-autobuild = "==2021.3.14"
flake8 = "==6.1.0"
flake8-isort = "==6.1.1"
coverage = "==7.3.2"
black = "==23.11.0"
djlint = "==1.34.0"
pylint-django = "==2.5.5"
pre-commit = "==3.5.0"
factory-boy = "==3.3.0"
django-debug-toolbar = "==4.2.0"
django-extensions = "==3.2.3"
django-coverage-plugin = "==3.1.0"
pytest-django = "==4.7.0"
botocore = "*"
requests = "*"
django-storages = "*"
dj-rest-auth = "*"
thirdweb-sdk = {editable = true, git = "https://github.com/thirdweb-dev/python-sdk"}
pygithub = "*"
web3 = "*"
zappa = "*"

[dev-packages]
pylint-django = "*"
pytest = "*"

[requires]
python_version = "3.10"
